* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    // background-repeat: repeat;
    // background-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        background:linear-gradient(to bottom right,#1a2054, #1d2259);
        background-repeat: repeat;
        background-size: 100px;
        transform: rotate(60deg);
    }

    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        background:linear-gradient(to bottom right,#1a2054, #1d2259);
        background-repeat: repeat;
        background-size: 100px;
        transform: rotate(-60deg);
    }
}


.line {
    margin-top: 1px;
    width: 100%;
    height: 40px;
    background-color: #1a2054;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: calc(1/2);
    margin-top: calc(-1px/2);

}

main {
    width: 40%;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    box-shadow: 1px 1px grey;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 60%;
    // border: 1px solid rgb(4, 0, 255);
    border-top: 3px solid #f00a95;
    border-radius: 30px;
    font-family: sans-serif;
    background-color: #1a2054;

    .first {
        margin-top: 20px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .heads {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: small;
                font-weight: 600;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 14px;
                font-weight: 400;
            }
        }

        .circle {
            border-radius: 50px;
            width: 40px;
            border: 1px solid rgb(22, 22, 22);
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;


            .dot {
                width: 2px;
                height: 2px;
                border: #fff;
                background-color: #fff;
                border-radius: 40px;
            }
        }
    }

    .second {
        width: 90%;
        margin-top: 40px;

        p {
            line-height: 1.3;
            font-size: calc(16/2);
            font-weight: light;
        }
    }

    .task {
        margin-top: 30px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-weight: 600;
        }

        .progress {
            width: 75%;
            height: 8px;
            border-radius: 4px;
            background-color: #111447;

            .positive {
                width: 43%;
                height: inherit;
                background: linear-gradient(to right, #0ce3c7, #5bd5e6);
                border-radius: inherit;
            }
        }


    }

    .people {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        align-self: flex-start;
        margin-left: 25px;
        width: 250px;
        border: 1px solid saddlebrown;

        .image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            border-radius: 40px;
            border: 1px solid black;

            img {
                width: 45px;
                height: 45px;
                border-radius: 40px;

            }
        }
    }
}