* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#1a2054), to(#1d2259));
  background: linear-gradient(to bottom right, #1a2054, #1d2259);
  background-repeat: repeat;
  background-size: 100px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

body::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#1a2054), to(#1d2259));
  background: linear-gradient(to bottom right, #1a2054, #1d2259);
  background-repeat: repeat;
  background-size: 100px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.line {
  margin-top: 1px;
  width: 100%;
  height: 40px;
  background-color: #1a2054;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  left: calc(1/2);
  margin-top: calc(-1px/2);
}

main {
  width: 40%;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  -webkit-box-shadow: 1px 1px grey;
          box-shadow: 1px 1px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  border-top: 3px solid #f00a95;
  border-radius: 30px;
  font-family: sans-serif;
  background-color: #1a2054;
}

main .first {
  margin-top: 20px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first .heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .first .heads h1 {
  font-size: small;
  font-weight: 600;
  margin-bottom: 10px;
}

main .first .heads h2 {
  font-size: 14px;
  font-weight: 400;
}

main .first .circle {
  border-radius: 50px;
  width: 40px;
  border: 1px solid #161616;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .first .circle .dot {
  width: 2px;
  height: 2px;
  border: #fff;
  background-color: #fff;
  border-radius: 40px;
}

main .second {
  width: 90%;
  margin-top: 40px;
}

main .second p {
  line-height: 1.3;
  font-size: calc(16/2);
  font-weight: light;
}

main .task {
  margin-top: 30px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .task p {
  font-weight: 600;
}

main .task .progress {
  width: 75%;
  height: 8px;
  border-radius: 4px;
  background-color: #111447;
}

main .task .progress .positive {
  width: 43%;
  height: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#0ce3c7), to(#5bd5e6));
  background: linear-gradient(to right, #0ce3c7, #5bd5e6);
  border-radius: inherit;
}

main .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25px;
  width: 250px;
  border: 1px solid saddlebrown;
}

main .people .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 40px;
  border: 1px solid black;
}

main .people .image img {
  width: 45px;
  height: 45px;
  border-radius: 40px;
}
/*# sourceMappingURL=style.css.map */